#### 7주차 과제

In [1]:
from sqlalchemy import *
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [2]:
# 데이터 베이스 연결
engine = create_engine('mysql://root:dss@54.180.211.186/test')

In [3]:
# 여기에 코드를 작성하세요
Base = declarative_base()

class EPL(Base):
  __tablename__ = 'EPL1'

  index = Column(Integer, primary_key = True)
  name = Column(String(20))
  gf = Column(Integer)
  ga = Column(Integer)

  def __init__(self, name, gf, ga):
    self.name = name
    self.gf = gf
    self.ga = ga
  
  def __repr__(self):
    return "<EPL1 {}, {}, {}>".format(
        self.name, self.gf, self.ga
    )

In [4]:
# engine에 연결된 데이터 베이스(test)에 테이블 생성
Base.metadata.create_all(engine)

In [5]:
# 데이터베이스에 session 연결
Session = sessionmaker(engine)
session = Session()
session

In [6]:
# insert
epl1 = EPL('aaron', 94, 91)
epl1

In [7]:
session.add(epl1)

In [8]:
session.commit()