### 1. 아래 요구사항에 맞게 코드를 작성해주세요.
- Myclass라는 이름으로 인자값 1개를 받을 수 있게 클래스를 만들어 주세요. (4점)
- Myclass의 인자값은 mangling를 사용하세요.(2점)
- Myclass에서 스페셜 메서드(__str__)를 활용하여 해당 클래스로 만든 객체를 print()로 출력 했을 때, "Print: 인자값" 이라고 꾸며줄 수 있도록 하세요.(테스트 코드를 실행시키면 예상결과와 같이 출력되야 합니다) (4점)

In [26]:
# 테스트 코드
c1 = Myclass("test")
print(c1)

# 예상결과 -> print: test

print:test

In [25]:
# 여기에 코드를 작성하세요
class Myclass:
  def __init__(self, txt1):
    self.__txt1 = txt1 # mangling
  
  def __str__(self):
    return ("print: {}".format(self.__txt1))

### 2.생성된 데이터를 활용하여 아래의 조건에 맞게 선형 회귀분석을 하고, 성능평가를 하세요.
(10점)
- 조건 : random state는 1234, test siz는는 0.2 입니다. 코드 하단에 pred_y와 round(mae,2) 값을 출력하세요

In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'name': ['Manchester City', 'Manchester United', 'Tottenham Hotspur',
       'Liverpool', 'Chelsea', 'Arsenal', 'Burnley', 'Everton',
       'Leicester City', 'Newcastle United', 'Crystal Palace',
       'Bournemouth', 'West Ham United', 'Watford',
       'Brighton and Hove Albion', 'Huddersfield Town', 'Southampton',
       'Swansea City', 'Stoke City', 'West Bromwich Albion'],
    'gf': [106,  68,  74,  84,  62,  74,  36,  44,  56,  39,  45,  45,  48,
        44,  34,  28,  37,  28,  35,  31],
    'ga': [27, 28, 36, 38, 38, 51, 39, 58, 60, 47, 55, 61, 68, 64, 54, 58, 56,
       56, 68, 56],
    'points': [100,  81,  77,  75,  70,  63,  54,  49,  47,  44,  44,  44,  42,
        41,  40,  37,  36,  33,  33,  31]
                                                                   
})
df.tail(2)

                    name  gf  ga  points
18            Stoke City  35  68      33
19  West Bromwich Albion  31  56      31

In [15]:
import pickle
# 선형회귀 모델
from sklearn import linear_model
# 학습 데이터와 테스트 데이터를 나눠주는 모듈
from sklearn.model_selection import train_test_split
# 모델을 평가해 주는 모듈
from sklearn.metrics import mean_absolute_error

# 2. 데이터 전처리 1
df_x = df[["gf", "ga"]]
df_y = df[["points"]]

# 2. 데이터 전처리 2
train_x, test_x, train_y, test_y = train_test_split(
    df_x, df_y, test_size = 0.2, random_state = 1234)

# 3. 데이터 분석
model = linear_model.LinearRegression()
model.fit(train_x, train_y)

# 4. 성능 평가
pred_y = model.predict(test_x)
pred_y = np.around(pred_y.flatten()).astype("int")
mae = mean_absolute_error(test_y, pred_y)
print(pred_y)
print(round(mae,2))

[81 39 76 41]
3.5